<h1 class="storeBrand">SUNGLASSES EXPRESS</h1>
<nav>
    <ul id="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/sunglasses/new">ADD</a></li>
        <li><a href="/sunglasses/seed">RESTOCK INVENTORY (re-Seed)</a></li>
    </ul>
</nav>