<div class="toppolkadotsdiv"></div>


<img src="../../img/logo.svg" width="300" class="topsvglogo"/>
<nav>
    <ul id="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/sunglasses/new">ADD</a></li>
        <li><a href="/sunglasses/seed">RESTOCK INVENTORY (re-Seed)</a></li>
        <li><a href="https://github.com/obi-nwokogba/express-store" target="_blank">On Github</a></li>
    </ul>
</nav>