<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <style>
        body {
            margin:0px;
            text-align: center;
            font-family: 'Bodoni Moda', serif;
            border-top:solid 7px #bd0074;
            background: rgb(255, 255, 255);
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 53%, rgba(222, 222, 222, 1) 100%);
        }

        h1.storeBrand{
            color:rgb(149, 149, 149);
            margin-top:30px;
            font-size:2.2em;
        }


        p {
            color: #fff;
        }

        #nav {
            margin: 0;
            padding: 0;
        }

        #nav li {
            display: inline;
            padding: 0;
            margin: 0;
        }
    </style>

</head>

<body>
    <h1 class="storeBrand">SUNGLASSES STORE EXPRESS</h1>
    <nav>
        <ul id="nav">

            <li><a href="/">HOME</a></li>
            <li><a href="/new">ADD</a></li>
        </ul>
    </nav>

</body>

</html>