<%- include('partials/header.ejs') %>
<title>Sunglasses Express - The Best Sunglasses Online - Express Delivery </title>
</head>

<body>
    <%- include('partials/navigationbar.ejs') %>

    <h2>Welcome to the Home Page of Sunglasses Express</h2>
    <ul>
        <% sunglasses.forEach(sunglass => { %>
        <li>
            <a href="/sunglasses/<%=sunglass._id; %>"> <%=sunglass.model; %> </a>
        </li>
        <% }) %>
    </ul>

</body>

</html>