<%- include('partials/header.ejs') %>
<title>Sunglasses List</title>
</head>

<body>
    <%- include('partials/navigationbar.ejs') %>

    <h2>add new sunglasses</h2>

    <div class="formcontainer">
        <form action="/sunglasses" method="POST">
            
            <label>
                <div class="formlabel">model</div>
                <input type="text" name="model" class="formfield" />
            </label>

            <label>
                <div class="formlabel">price</div>
                <input type="text" name="price" class="formfield" />
            </label>
           
            <label>
                <div class="formlabel">Quantity:</div>
                <input type="text" name="quantity" class="formfield"/>
            </label>

            <input type="submit" name="" value="Add Pair" class="button1"/>
        </form>
    </div>
</body>

</html>