body {
    margin: 0px;
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    border-top: solid 7px #F62A71;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 53%, rgba(232, 232, 232, 1) 100%);
}

div.toppolkadotsdiv {
    background: url('../img/polka245584.png');
    display: block;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    min-height: 60px;
}

div.footercontainer {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 0px;
    display: block;
    padding: 30px;
    padding-bottom: 55px;
    font-size: 0.85em;
    color: #777777;
    border-top: solid 20px #DEDEDE;
    background: url('../img/polka245584.png');
    text-align: center;
}

h1.storeBrand {
    color: rgb(129, 129, 129);
    margin-top: 30px;
    font-size: 2.7em;
}

h2 {
    color: rgb(165, 165, 165);
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: 400;
    font-style: italic;
}

p {
    color: #fff;
}

#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

a {
    color: #F62A71;
    text-decoration: none;
    border-bottom: solid 3px rgba(151, 151, 151, 0.459);
    padding: 6px;
    transition: 0.3s;
}

a:hover {
    color: black;
    border-bottom: solid 6px #F62A71;
}

li {
    padding-left: 20px;
}

div.formcontainer {
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1px #33333348;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items:baseline; */
}

label {
    margin: 0 auto;
    display: block;
}

input.formfield {
    border-bottom: solid 2px #f62a71;
    border-width: 0px 0px 2px 0px;
    padding: 10px;
    font-size: 1.1em
}

span.formlabel {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    margin-top: 35px;
}

img.productdisplay {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

div.productimagecontainer {
    max-width: 340px;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 40px;
}

div.productcontainer {
    width: 350px;
    max-width: 350px;
    height: 300px;
    display: inline-block;
    margin: 25px;
    text-align: left;
    transition: 0.3s;
}

span.model {
    display: block;
    color: rgb(27, 27, 27);
    font-size: 1.4em;
    border-bottom: solid 2px #F62871;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

span.model2 {
    display: block;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.3em;
    border-bottom: dotted 2px #c5c5c580;
    padding-bottom: 7px;
    margin-bottom: 10px;
    text-align:left;
    padding:7px;
}

span.price {
    display: block;
    color: rgb(97, 97, 97);
    font-size: 1.7em;
    margin-bottom: 8px;
}

.topsvglogo {
    margin-top: 50px;
    margin-bottom: 30px;
}

.button1 {
    background: #F62A71;
    font-size: 0.7em;
    border: none;
    color: white;
    padding: 5px;
    transition: 0.3s;
    font-family: 'Bodoni Moda', serif;
}

.button2 {
    background: #F62A71;
    color: white;
    font-size: 0.7em;
    border: none;
    color: white;
    padding: 5px;
    transition: 0.3s;
    font-family: 'Bodoni Moda', serif;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 30px;
}

button2:hover {
    text-decoration: none !important;
}

.editbutton {
    background: #F62A71;
    font-size: 0.7em;
    border: none;
    color: white;
    padding: 5px;
    transition: 0.3s;
    font-family: 'Bodoni Moda', serif;

}

.deletebutton {
    background-color: orangered;
    font-size: 0.7em;
    border: none;
    color: white;
    padding: 5px;
    transition: 0.3s;
    font-family: 'Bodoni Moda', serif;
}

.deletebutton:hover {
    padding-right: 40px;
    background-color: rgb(199, 0, 0);
}

.deleteform {
    margin-top: 0px;
    opacity: 0.5;
}

.deleteform:hover {
    opacity: 1;
}


.buttonsrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    justify-content: space-between;
    height: 50px;
    text-align: left;
    align-items: stretch;
}

.buttonsrow>a {
    font-size: 0.76em;

}

.amountremaining {
    font-size: 0.6em;
}










.sunglassshowcontainer {
    display: flex;
    max-width: 700px;
    margin: 0 auto;

}

.sunglassinfo {
    display: flex;
    width: 300px;
    flex-direction: column;
    background: rgb(10,68,124);
    background: linear-gradient(357deg, rgba(10,68,124,0.39257701371564246) 0%, rgba(14,56,96,1) 32%, rgba(17,43,68,1) 58%); 
}

.orange{
    background:rgb(255, 103, 57);
}

.sunglasspicbox {
    display: inline;
    width: 300px;
    max-width: 300px;
}

.showimage {
    width: 450px;
}